**/.vitepress/cache
**/.vitepress/dist
**/.vscode-test/
*.bak
*.dll
*.exe
*.lcov
*.log
*.pid
*.pid.lock
*.pyc
*.seed
*.sln.docstates
*.swo
*.swp
*.tgz
*.tsbuildinfo
*.user
*.userosscache
*.vsix
.ai
.assets
.cache
.docs
.docusaurus
.DS_Store
.dynamodb
.env
.env.*
.env.local
.eslintcache
.firebase
.fusebox
.grunt
.lock-wscript
.next
.node_repl_history
.npm
.npmrc
.nuxt
.nyc_output
.output
.parcel-cache
.pnp.*
.repomixignore
.scripts
.serverless
.stylelintcache
.svelte-kit
.temp
.tern-port
.tests
.vite
.vscode-test
.vuepress/dist
.yarn-integrity
.yarn/*
[Dbg]g
__pycache__
bin
bower_components
build
Cargo.lock
coverage
dist
jspm_packages
lerna-debug.log*
lib-cov
logs
node_modules/
npm-debug.log*
obj
out
pids
repomix.config.json
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
target
Thumbs.db
vendor
venv
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
web_modules
yarn-debug.log*
yarn-error.log*

# INCLUDE
!.env.example
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
