# --- General / Standard ---
.turbo/
.vercel/
build/
bun.lock
dist/
node_modules/
out/
package-lock.json
pnpm-lock.yaml
yarn.lock

# --- Logs & OS ---
*.log
.DS_Store
Thumbs.db

# --- Project Stuff ---
.assets/
.docs/
.git/
.husky/
