# Exclude Source & Development files
.ai/
.assets/
.docs/
.git/
.github/
.gitignore
.repomixignore
.scripts/
.tests/
.vscode-test/
.vscode/
**/*.map
**/*.ts
**/*.tsbuildinfo

# Build Configs
.eslintrc.json
esbuild.js
tsconfig.json
repomix.config.json
vsc-extension-quickstart.md

# Build Folders
src/
tests/
out/
node_modules/

# Selective Asset Ignore
assets/icon-64.png
assets/icon.svg
assets/screen-1.png

# Explicitly Include Production Files
!dist/
!dist/extension.js
!package.json
!README.md
!CHANGELOG.md
!assets/icon.png
